<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MabiCookerV3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MabiCookerV3.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MabiCookerV3.MainWindow" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MabiCookerV3.Properties.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>0</value>
            </setting>
        </MabiCookerV3.Properties.Settings>
        <MabiCookerV3.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>0</value>
            </setting>
        </MabiCookerV3.Settings>
        <MabiCookerV3.MainWindow>
            <setting name="WindowSize" serializeAs="String">
                <value>1080p</value>
            </setting>
        </MabiCookerV3.MainWindow>
    </userSettings>
</configuration>